*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand {
  margin-left: 200px;
}

#navbarNavDropdown {
  margin-right: 250px;
}

.div33 {
  height: auto;
  background-color: rgb(224, 61, 74);
}

.div5{
  line-height: 100%;
  width: 100%;
}

.div55 {
  
  background-color: rgb(57, 55, 55);
  border-top: 5px solid red;
  
}

.colBlack a {
 
 color: gray;
 

}

.colBlack p {
  text-align: left;
  color: grey;
}

.colBlack p.white {

color: white;

}



.col {
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
}
.carousel-caption {
  margin-bottom: 200px;
}

.col4 {
  width: 300px;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 22%;
  padding: 25px;
}

.textLatest {
  font-weight: bold;
}

.div6 {
  background-color: rgb(40, 37, 37);
  
}



.div66{
  /* padding-right: 900px; */
  text-align: left;
  
}

.navbar-brand {
 font-weight:bold;
 font-size:200%
 
}


.bt {

  padding: 6px 15px;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border: solid 2px white;
  color: aliceblue;
}